@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "VT323", monospace;
}

body {
	background-color: #1b1b1b;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

canvas {
	background-image: url(../assets/bg.png);
	background-size: contain;
}

.score-container {
	position: absolute;
	top: 5%;
	left: 5%;
	font-size: 4rem;
	color: white;
}

.high-score-container {
	position: absolute;
	top: 20%;
	left: 5%;
	font-size: 4rem;
	color: white;
}

.game-overlay {
	position: absolute;
	z-index: 99;
	width: 500px;
	display: flex;
	border-radius: 5px;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	color: white;
	padding: 2rem 2rem;
}
.game-overlay h1,
.score {
	font-size: 5rem;
}
.game-overlay h1 {
	text-shadow: 0px 0px 20px rgba(1, 1, 1, 0.3);
}
.game-button {
	color: white;
	font-size: 3rem;

	outline: none;
	border: 2px solid #543000;
	padding: 1rem 5rem;
	cursor: pointer;
	transition: all 0.2s;
	margin-top: 2rem;

	background: #e86101;

	text-shadow: none;
}

.game-button:hover {
	color: #1b1b1b;
	background: white;
}

.game-score,
.game-overlay .score {
	text-shadow: 0px 0px 20px rgba(1, 1, 1, 0.3);

	font-size: 3rem;
}

.instructions {
	font-size: 2rem;
	text-align: center;
	text-shadow: 0px 0px 20px rgba(1, 1, 1, 0.3);
}
.instructions-title {
	font-size: 4rem;
	text-shadow: 0px 0px 20px rgba(1, 1, 1, 0.3);
}
