* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1b1b1b;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#canvas {
	border: 2px solid white;
	background-color: #fbfbfb;
	box-shadow: 0px 0px 20px #3be6c6, 0px 0px 20px #3be6c6 inset;
}
